.project {
    margin: 0 0 30px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;

    &:hover {
        .project--actions {
            display: block;
        }
    }

    .project--actions {
        display: none;
    }

    &.project__current {
        border-color: #ff9900;
    }
}
