.project {
    margin: 0 0 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    height: 100%;

    &:hover {
        .project--actions {
            display: block;
        }
    }

    .project--actions {
        display: none;
    }

    &.project__current {
        border-color: #ff9900;
    }
}
