.project {
    margin: 0 0 30px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;

    &.project__current {
        border-color: #ff9900;
    }

    .project--actions {
        float: right;
    }

    .project--title {
        border-bottom: 1px solid #ddd;
        padding: 0 0 20px;
        margin-bottom: 20px;
    }
}
