.day-overview {
    background: #eee;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 100%;

    &.day-overview__current {
        border-color: #ff9900;
    }
}
