.todo {
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px dotted transparent;

    &.todo__current {
        border-color: #ff9900;
    }

    &.todo__completed {
        .todo--title {
            color: #aaa;
            text-decoration: line-through;
        }
    }

    .form-check-label {
        margin-left: 5px;
        width: 100%;
    }

    .todo--deadline {
        float: right;
        border-radius: 3px;
        padding: 2px 7px;
        margin-left: 10px;

        &.todo--deadline__danger {
            background: #ff0000;
            color: white;
        }

        &.todo--deadline__warning {
            background: #ff9900;
            color: white;
        }
    }
}
