.todo {
    padding: 5px 15px 5px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    position: relative;

    &.todo__current {
        background-color: #fff;
        border: 1px solid #ccc;

        &:hover {
            background-color: #fff;
        }
    }

    &:hover {
        background-color: #ddd;
    }

    &.todo__completed {
        .todo--title {
            color: #aaa;
            text-decoration: line-through;
        }
    }

    .form-check-label {
        margin-left: 5px;
        width: 100%;
    }

    .todo--actions {
        display: none;
    }

    &:hover {
        .todo--deadline {
            visibility: hidden;
        }

        .todo--actions {
            display: block;
        }
    }
}
