.todo-form {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;

    .form-control__alternative-padding {
        padding: 0 0 38px;
    }
}
